<div class="product-detail-container">
  <div class="product-image-container">
    <img [src]="product?.main_img" alt="{{ product?.product_name }}" class="product-image"/>
  </div>
  <div class="product-info">
    <h1 class="product-name">{{ product?.product_name }}</h1>
    <p class="product-price">{{ product?.product_price | currency }}</p>

    <div class="quantity-container">
      <label for="quantity">Cantidad:</label>
      <select id="quantity" [(ngModel)]="quantity">
        <option *ngFor="let qty of [1,2,3,4,5]" [value]="qty">{{ qty }}</option>
      </select>
    </div>

    <button (click)="addToCart()">Añadir al carrito</button>
  </div>
</div>
