
<nav class="bg-[#808080] p-4 shadow-md flex flex-row justify-between items-center">

  <div>
    <img src="assets/logo.png" class="h-12" alt="Logo"  routerLink="['']">
  </div>
  <div class="flex flex-row relative left-96">
    <input class="rounded-l-xl p-1 pl-2 w-72" placeholder="Buscar...."> 
    <div class="bg-white border-gray-600 border-l-2 cursor-pointer rounded-r-xl p-1">
      <img src="assets/icons/search-icon.png" alt="lupa" class="">
    </div>
  </div>
  <div class="flex flex-row justify-center gap-6 mr-5">
    <img src="assets/icons/user-icon.png" alt="user" class="size-8">
    <img src="assets/icons/cart-icon.png" alt="cart" class="size-8">
  </div>
</nav>




<router-outlet></router-outlet>
